.firstBox{
    color: #FFF;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.secondBox{
    background: #FFF;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top : 4.5rem;
padding: 5.5rem 1rem 1rem 3rem !important
}

.secondBoxText{
    color: #3564FB;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.smallBox{
    background: #3564FB;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 10px;
position: absolute;
left: 1rem;
}

.smallBoxText{
    color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.2px;
width: 152px;
align-self: stretch;
}

.oddBox{
    background: #FBCF32;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.aboutVideo .name{
    color: #4F4E4E;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
letter-spacing: 0.24px;
}

.aboutVideo .school{
    color: #4F4E4E;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0.24px;
}

.aboutVideo{
    padding-top : 6rem
}

.aboutVideo .reviews{
    color: #3564FB;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/* 
.playVideo .background{
    top: 12rem;
    position: relative;
    left: 21rem;
}

.playVideo .playButton{
    position: relative;
    top: 12rem;
    left: 18rem;
} */

.aspirantRow4{
    background: #FBCF32;
    color: #3367D6;
}

.aspirantRow4 .submitDetails{

text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
display : flex;
flex-direction: column;
align-items: center;
gap : 2rem
}

.submitBtn{
    border-radius: 25px;
background: #3564FB;
width: 210px;
height: 38px;
flex-shrink: 0;
}

.submitbtnStyle{
    color: #FFF !important;
    font-family: Montserrat !important;
    font-size: 12px !important;
    /* font-style: normal !important; */
    font-weight: 600 !important;
    line-height: normal !important;
}

.row6Heading{
    color: #3564FB;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.5px;
}

.tabHeadingStyling{
    color: #3564FB !important;
font-family: Montserrat;
font-size: 20px !important;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
letter-spacing: 0.4px;
border-radius: 0px !important;
}

.firstTabContent{
    color: #3564FB;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.32px;
    padding-top: 4rem;
}

.firstTabNote{
    color: #3564FB;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 0.32px;
margin-top: 1.5rem !important;
}

.firstTabBorder{
    border-top: 0.5px solid #3564FB !important;
border-right: 0.5px solid #3564FB !important;
border-left: 0.5px solid #3564FB !important;
width: 499px;
height: 94px;
flex-shrink: 0;
}

.secondTabBorder{
border: 0.5px solid #3564FB !important;
background: #F1F0F5 !important;
width: 499px;
height: 94px;
flex-shrink: 0;
}

.contentStyling{
    border-right: 0.5px solid #3564FB;
border-bottom: 0.5px solid #3564FB;
border-left: 0.5px solid #3564FB;
width: 1004px;
height: 428px;
flex-shrink: 0;
}

.tabGap{
    display : flex;
    gap : 0.4rem;
}

.nav-tabs{
    border-bottom: none !important;
}

.aspirantRow6 .text1{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.aspirantRow6 .text2{
    color: #3564FB;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.5px;
}

.accordianStyling{
    border-radius: 10px;
background: #F1F0F5;
color: #000;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.accordianHeading{
    color: #000;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 1.5rem !important;
padding-left: 3rem !important;
}

.accordion-button:not(.collapsed) {
    background: #3564FB  !important;
    color: #FFF !important;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.accordion-button{
    background-color: #F1F0F5 !important;
    
}

.accordion-item{
    margin-bottom : 1rem !important;
    border-radius : 10px !important;
    /* width: 805px; */
/* height: 78px; */
background: #F1F0F5 !important;
border : none !important
}

.accordion-button:not(.collapsed)::after{
    /* content:  !important; */
    color : white !important;
    background-image:url(./images/arrowUp.png)!important;
    transform : rotate(360deg) !important
}


.accordion-button:focus{
    box-shadow: none !important;
}

.navtabStyling{
    /* border-top: 0.5px solid #3564FB !important;
    border-right: 0.5px solid #3564FB !important; */
    border: 0.5px solid #3564FB !important;
    flex-shrink: 0;
    color: #3564FB !important;
    font-family: Montserrat;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    letter-spacing: 0.4px;
    border-radius: 0px !important;
    padding: 0px !important;
}

.nav-tabs button {
    width: 499px !important;
    height: 94px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #F1F0F5 !important;
    border-bottom:0px none !important;
}

.aboutAspirants{
    width : 75%;
}

.headingUnderLine{
    width: 193px;
height: 5px;
background: #FBCF32;

}
.secondUnderLine{
    height: 5px;
    background: #FBCF32;
    position: absolute;
    width : 272px;
     left : -11rem  
}


@media screen and (min-width:300px) and (max-width:1200px) {

    .aspirantRow1{
        padding-top: 4rem !important;
    }
    .aspirantBanner img{
        height: 133px !important;
    }
    .secondUnderLine{
        width: 112px;
        left : -1rem;
        top: 1.5rem;
    }
    .headingUnderLine {
        width: 103px;
        position: absolute;
        left: 0rem;
        margin-top: 1rem;
        top: 2.5rem;
    }
    .aboutAspirants {
        width: 100% !important;
        margin: 1rem 0px !important;
        padding: 0.5rem !important;
    }

    .pageHeading{
        padding-left : 0px !important;
    }
    .resRemovePadding {
        padding: 5px !important;
        margin-bottom: 4rem;
    }
    .firstBox{
        font-size: 50px !important;
    }
    .secondBox{
        padding: 5.5rem 1rem 1rem 2rem !important;
        margin:auto;
        margin-top : 4.5rem !important
    }
    .secondBoxText{
        font-size: 15px !important;
    }
    .smallBox{
        left : 1.5rem;

    }
    .firstLine{
        margin-top : 3rem;
    }
    .videoCoverImage{
        margin-left: 0px !important;
    }
    .resRemovePaddingCol{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .theVideo{
        width: 100%;
        height: 100%;
    }
    iframe {
        border: 0;
        width: 393px;
        height: 260.663px;
    }
    .aboutVideo{
        padding:1.5rem;
    }
    .submitDetails{
        padding: 0rem;
        margin: 5rem 0rem;
    }
    .accordianHeading {
        padding: 1.5rem !important;
        padding-left: 1rem !important;
        gap: 5rem;
        letter-spacing: 0px;
    }
    .accordian-button{
        gap: 4rem;
    }
    .aspirantRow6 #accordionExample{
        margin-top: 3rem !important;
    }
    .aspirantRow5{
        display: none;
    }

}
