.firstBox h2{
    color: #FFF;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.aspirantBanner img{
    width : 100%;
    height: 290px;
}


.secondBox {
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 4.5rem;
    padding: 3rem 1rem 1rem 3rem !important;
    width: 405px;
    height: 82%;
    text-align: justify;
}

.secondBoxText{
    color: #3564FB;
/* font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal; */
}

.smallBox{
    background: #3564FB;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 10px;
position: absolute;
left: 1rem;
width : 62%;
}

.floatBox1{
    width: 185px !important;
    /* top : 1rem */
}

.floatBox2{
    width: 200px !important;
}

.floatBox3{
    width: 185px !important;
}

.floatBox2{
    top : -1.5rem;
}

.floatBox4{
    width: 200px !important;
    top: 1.5rem;
}
/* .floatBox5{
    width: 175px !important;
    top: 0.5rem;
} */

.floatBox5 {
    width: 200px !important;
    top: 0rem;
}
/* 
.floatInnerBox2{
    padding: 4.5rem 1rem 1rem 3rem !important;
} */

.floatInnerBox3{
    padding: 5.1rem 1rem 1rem 3rem !important
}

.floatInnerBox4{
    padding: 4.7rem 1rem 1rem 3rem !important
}
/* 
.floatInnerBox5{
    padding: 4.5rem 1rem 1rem 3rem !important
} */

.floatInnerBox2{
    padding: 5.5rem 1rem 1rem 3rem !important;
}
.floatInnerBox5{
    padding: 5rem 1rem 1rem 3rem !important;
}


.smallBoxText{
    color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.2px;
align-self: stretch;
}

.oddBox{
    background: #FBCF32;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.aboutVideo .name{
    color: #4F4E4E;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
letter-spacing: 0.24px;
}

.aboutVideo .school{
    color: #4F4E4E;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0.24px;
}

.aboutVideo{
    padding-top : 4rem
}

.aboutVideo .reviews{
    color: #3564FB;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.personDetail{
    margin : 0px 2rem;
    /* padding-right: 6rem; */
    width: 75%;
}
/* 
.playVideo .background{
    top: 12rem;
    position: relative;
    left: 21rem;
}

.playVideo .playButton{
    position: relative;
    top: 12rem;
    left: 18rem;
} */

.aspirantRow4{
    background: #FBCF32;
    color: #3367D6;
}


.aspirantRow4 .btn:hover{
    color: #FFF !important  ;
    background:none !important;
}




.aspirantRow4 .submitDetails{

text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
display : flex;
flex-direction: column;
align-items: center;
gap : 2rem
}

.submitBtn{
    border-radius: 25px;
background: #3564FB;
width: 210px;
height: 38px;
flex-shrink: 0;
}

.submitbtnStyle{
    color: #FFF !important;
    font-family: Montserrat !important;
    font-size: 12px !important;
    /* font-style: normal !important; */
    font-weight: 600 !important;
    line-height: normal !important;
}

.row6Heading h1{
    color: #3564FB;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* letter-spacing: 1.5px; */
}

.tabHeadingStyling{
    color: #3564FB !important;
font-family: Montserrat;
font-size: 20px !important;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
letter-spacing: 0.4px;
border-radius: 0px !important;
}

.firstTabContent{
    color: #3564FB;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.32px;
    padding-top: 4rem;
}

.firstTabNote{
    color: #3564FB;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 0.32px;
margin-top: 1.5rem !important;
}

.firstTabBorder{
    border-top: 0.5px solid #3564FB !important;
border-right: 0.5px solid #3564FB !important;
border-left: 0.5px solid #3564FB !important;
width: 499px;
height: 94px;
flex-shrink: 0;
}

.secondTabBorder{
border: 0.5px solid #3564FB !important;
background: #F1F0F5 !important;
width: 499px;
height: 94px;
flex-shrink: 0;
}

.panh6 h6{
    line-height: 30px;
}

.contentStyling{
    border-right: 0.5px solid #3564FB;
border-bottom: 0.5px solid #3564FB;
border-left: 0.5px solid #3564FB;
width: 1004px;
height: 480px;
flex-shrink: 0;
}

.tabGap{
    display : flex;
    gap : 0.4rem;
    padding-top: 1.3px;
}

.nav-tabs{
border-bottom:  0.5px solid #3564FB;
}

.aspirantRow6 .text1{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.aspirantRow6 .text2{
    color: #3564FB;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.5px;
}

.accordianStyling{
    border-radius: 10px;
background: #F1F0F5;
color: #000;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.accordianHeading{
    color: #000;
text-align: justify;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 1.5rem !important;
padding-left: 3rem !important;
}

.accordion-button:not(.collapsed){
    background: #3564FB  !important;
    color: #FFF !important;
    text-align: justify;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.accordion-button:not(.collapsed) h6{
    font-size: 16px;
}

.accordion-button{
    background-color: #F1F0F5 !important;
    
}

.accordion-item{
    margin-bottom : 1rem !important;
    border-radius : 10px !important;
    /* width: 805px; */
/* height: 78px; */
background: #F1F0F5 !important;
border : none !important
}

.accordion-button:not(.collapsed)::after{
    /* content:  !important; */
    color : white !important;
    background-image:url(./images/arrowUp.png)!important;
    transform : rotate(360deg) !important
}


.accordion-button:focus{
    box-shadow: none !important;
}

.navtabStyling{
    /* border-top: 0.5px solid #3564FB !important;
    border-right: 0.5px solid #3564FB !important; */
    border: 0.5px solid #3564FB !important;
    border-bottom: none !important  ;
    flex-shrink: 0;
    color: #3564FB !important;
    font-family: Montserrat;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    letter-spacing: 0.4px;
    border-radius: 0px !important;
    padding: 0px !important;
}

.nav-tabs button {
    width: 499px !important;
    height: 94px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #FFF !important;
    border-bottom:0px none !important;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    background: #F1F0F5 !important;
    border-bottom:0.5px solid #3564FB !important;
}
.aboutAspirants{
    /* width : 75%; */
}

.headingUnderLine{
    width: 193px;
height: 5px;
background: #FBCF32;

}
.secondUnderLine{
    height: 5px;
    background: #FBCF32;
    position: absolute;
    width : 272px;
     left : -11rem  
}


.smallBox:hover .smallBoxText{
    /* background-color: #4F4E4E; */
    cursor: pointer;
    color: #3564FB;
}

.smallBox:hover{
    background: #FBCF32;
}

.floatInnerBox1{
    padding: 5.1rem 1rem 1rem 3rem !important;
}


.iframe-container {
    overflow: hidden;
    padding-top: 66.25%; 
    position: relative;
    /* padding-bottom: 56.25%; */
  } 
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }


@media screen and (min-width:300px) and (max-width:1200px) {

    .aspirantRow1{
        padding-top: 4rem !important;
    }
    .aspirantBanner img{
        height: 133px !important;
        width: 100% !important;
        object-fit: cover;
    }
    .secondUnderLine{
        width: 112px;
        left : -2rem;
        top: 1.5rem;
    }
    .headingUnderLine {
        width: 103px;
        position: absolute;
        left: 0rem;
        margin-top: 1rem;
        top: 2.5rem;
    }
    .aboutAspirants {
        width: 100% !important;
        margin: 2rem 0px !important;
        padding: 0.5rem !important;
        /* font-size: 16px !important; */
    }

    .pageHeading{
        padding-left : 0px !important;
        /* font-size: 32px; */
    }
    .resRemovePadding {
        padding: 5px !important;
        margin-bottom: 7rem;
        margin-top: 5rem;

    }
    .firstBox h2{
        font-size: 40px !important;
        padding: 0px 20px;
    }
    .secondBox {
        /* padding: 4.5rem 1rem 1rem 2rem !important; */
        margin: auto;
        margin-top: 4.5rem !important;
        width: 100%;
    }

    .secondBoxText{
        font-size: 16px !important;
    }
    .smallBox{
        left : 0.5rem;

    }
    .box_2{
        padding-top: 2.5rem !important;
    }
    .box_3{
        padding-top: 2.5rem !important;
    }
    .box_4{
        padding-top: 1rem !important;
    }
    .box_5{
        padding-top: 2.5rem !important;
    }
    .floatBox4{
        top : 1.5rem
    }
    .firstLine{
        margin-top : 3rem;
    }
    .videoCoverImage{
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .resRemovePaddingCol{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .theVideo{
        width: 100%;
        height: 100%;
    }
    .iframe-container{
        padding : 0px !important
    }
    iframe {
        border: 0 !important;
        width: 393px !important;
        height: 260.663px !important;
        position: static !important;
    }
    .aboutVideo {
        padding: 1.5rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submitDetails{
        padding: 0rem;
        margin: 5rem 0rem;
    }
    .accordianHeading {
        padding: 1rem !important;
        padding-left: 0.5rem !important;
        gap: 1rem;
        letter-spacing: 0px;
    }
    .accordian-button{
        gap: 4rem;
    }
    .aspirantRow6 #accordionExample{
        margin-top: 3rem !important;
    }
    .aspirantRow5{
        /* display: none; */
    }
    .personDetail{
        margin : 0px !important;
        padding : 0px !important;
        width: 100% !important;
    }
    .floatBox5 {
        top: 0rem;
    }

    .aspirantBanner{
        height: 133px;
    }
    .wholeBox{
        padding : 0px 20px;
    }
    .floatInnerBox5{
        padding: 5rem 1rem 1rem 3rem !important;
    }
    .nav-tabs button{
        width: 49.8% !important;
        height: 82px !important;
    }

    .nav-tabs{
        flex-wrap: nowrap;
        display: inline-flex;
    }
    .contentStyling{
        height: 100%;
        width: 100%;
    }

    .tabGap{
        gap : 0.1rem !important;
        border: none;
    }

    #nav-profile-tab{
        /* border-left: none !important; */
    }
    .firstTabContent{
        padding: 1rem;
    }
    .firstTabContent p{
        /* padding: 1rem; */
        line-height: 30px !important;
        margin: 0rem !important;
    }

    .firstTabNote{
        margin-top: 1rem !important;
    }

    .firstTabNote h6{
        margin-bottom: 1rem !important;
        line-height: normal !important;
        font-weight: bold;
    }

    .pb-32{
        padding: 0rem !important;
    }

    .aspirantRow5{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
