.row2Heading{
    color: #3564FB;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    margin-bottom : 2rem;
    line-height: normal;
}

.underline{
    width: 63.829px;
height: 5px;
background: #FEB408;
}

.row2SubHeading{
    color: #3564FB;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
}

.headingContent{
    color: #3564FB;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
width: 50%;
}

.followUs{
    color: #3564FB;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 53.333% */
}

.upperBox{
height: 303px;
flex-shrink: 0;
border-radius: 10px;
background: #FBCF32;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.upperText{
    color: #3367D6;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.upperSubmit{
    border-radius: 25px;
background: #3564FB;
width: 210px;
height: 38px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;

}

.submitText{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width : 300px) and (max-width : 1200px) {
    .contactUsRow2{
        padding-top: 2rem !important;
    }
    .row2Heading{
        margin-bottom: 1rem !important;
    }
    .underline{
        margin-bottom: 2rem !important;
    }
    .row2SubHeading{
        width: 90% !important;
    }
    .headingContent{
        width: 85%;
        margin-bottom: 3rem !important;
    }
    .socialIcons{
        margin-bottom: 9rem !important;
    }
    .upperText{
        margin:1rem !important
    }
}