@media screen and (min-width : 300px) and (max-width:1200px){
    .navbar-nav li:last-child {
        order: -1;
      }

    
    #navbarSupportedContent{
        margin-top: 0px;
    }
    .bannerHeading2{
        margin:0px !important;
        width: 100% !important;
        letter-spacing: 1px;
    }
    .bannerHeading1 h1{
        width: 100%;
        font-size: 32px;
    }
    .resChangeFont{
        box-shadow: none;
    }
    .removePadding{
        padding-left: 0px !important;
        padding-top: 0px !important;
    }
    
    .whyRegisterText{
        width:  100% !important;
    }
    .whyAnswer{
        width : 100%;
        padding-right: 1rem;
        margin-bottom: 3rem;
    }
    .bodyRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardCenter{
        position: static;
        margin-top: 1.5rem;
    }
    .row-2{
        margin-top: 4rem !important;
        margin-bottom: 5rem ;
    }
    .carousel-indicators [data-bs-target] {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25) !important;
    }
    .resLeftImage{
        margin-top: 2rem;
        padding-right:0px !important ;
    }
    .rightText {
        padding-top: 0px !important;
        padding: 2rem 0rem 2rem 1rem;
    }
    .lighterText{
        margin-top: 2rem;
        font-size: 32px !important;
    }
    .horizontalLine{
        width: 70px;
        height: 2px;
        left : -2rem;
    }
    .leftContent{
        display: block;
        padding : 0px !important

    }
    .leftContent .leftImage{
        margin : 1rem;
    }
    .whyLine{
        position: relative;
        margin-left: 3rem;
        right: 0rem;
    }
    .resWhyLine{
        position: absolute;
        left: -3rem !important
    }
    .secondWhyLine{
        right : 1rem !important
    }
    .saathi{
        /* position: absolute;
        left: -2.7rem; */
    }
    .resRemovePadding{
        padding : 0px !important;
    }
    .leftBolderHeading h2{
        width : 100%;
        font-size: 28px;
        padding-left: 3rem;
    }
    .resPadding{
        margin-top : 2rem !important;
        padding: 1.5rem;
    }
    .row-4 .description{
        width : 100%;
    }
     .row-3 .description{
        width: 100%;
    }
    .row-3 .bolderText h1{
        width: 100%;
    }
    .menuItems{
        font-size: 14px !important;
        font-weight: bolder !important;
    }
    .aspirantRow2 .firstLine{
        font-size: 13px;
    }
    .loginRegister{
        font-size: 16px !important;

    }
    .underline{
        width : 65%;
    }
    .resMarginTop2rem{
        margin-top: 2rem !important;
    }
    .stories{
        padding : 1rem 1.5rem;
        height: 253px;
        width:  100%;
        margin-left : 0px ;
    }
    .stories >h4{
        font-size: 20px;
    }
    .candidateProfile> img{
        width: 100% !important;
        height: 250px;
    }
    .mobileLogo{
        display: block !important;
    }
    .pcLogo{
        display : none !important
    }
    #carouselExampleIndicators{
        position: relative !important;
    }
    .carousel-indicators{
        bottom: -3.5rem !important;
    }
    .carousel-control-prev {
        display: none !important;
    }
    .carousel-control-next{
        display: none !important;
    }
    .anilImage{
        transform: scaleX(-1);
    }
    .row-8{
        padding-left: 0rem;
    }
    .row-8 .heading h1{
        width: 100% !important;
        padding: 1rem;
    }
    .individualProcess{
        display: flex ;
        flex-direction: column ;
        gap : 2rem
    }
    .wrapBlog{
        background-color: white;
        margin-bottom: 2rem;
    }
    .footerContent{
        padding: 4rem 0rem 4rem 1rem !important;
    }
    .quickLink{
        padding-left: 0rem !important;
    }
    .contactContent{
        padding-left: 0rem !important;
    }
    .termsConditions{
        height: 100%;
    }
    .termsConditions .condition{
        line-height: normal;
    }
    .resmenu{
        justify-content: end;
    }
    /* .{
        background: #3367D5 !important;
        padding: 3px !important;
        color: white !important;
    } */
    .fa-bars:before, .fa-navicon:before {
        content: "\f0c9";
        background-color: #3367D5;
        color: white;
        padding: 0.4rem;
        border-radius: 3px;
    }
    .resChangeFont {
        /* width: 31px;
        height: 31px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg filter='url(%23filter0_d_257_817)'%3E%3Crect x='4' width='23' height='23' rx='2' fill='%233367D5'/%3E%3C/g%3E%3Cline x1='9' y1='6.5' x2='22.5933' y2='6.5' stroke='white'/%3E%3Cline x1='9' y1='6.5' x2='22.5933' y2='6.5' stroke='black' stroke-opacity='0.2'/%3E%3Cline x1='9' y1='12.2236' x2='22.5933' y2='12.2236' stroke='white'/%3E%3Cline x1='9' y1='12.2236' x2='22.5933' y2='12.2236' stroke='black' stroke-opacity='0.2'/%3E%3Cline x1='9' y1='17.9438' x2='22.5933' y2='17.9438' stroke='white'/%3E%3Cline x1='9' y1='17.9438' x2='22.5933' y2='17.9438' stroke='black' stroke-opacity='0.2'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_257_817' x='0' y='0' width='31' height='31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='soft-light' in2='BackgroundImageFix' result='effect1_dropShadow_257_817'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_257_817' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E"); */
      }
      .navbar-toggler-icon{
        /* display: none !important; */
      }
    .yellowBackground{
        width: 100%;
        height: 100%;
        margin: 0px !important;
        padding-top: 0px !important;
        padding-left: 0px !important;
        border-radius: 0px;
    }
    .row-7{
        margin-top: 33rem !important;
    }
    .anilImage {
        position: absolute!important;
        bottom: 0rem;
    }
    .textHeading {
        padding: 2rem 1rem !important;
    }
    .headingButton{
        /* display: flex; */
        /* justify-content: center; */
        padding-right: 45%
    }
    .resPaddingTop1rem{
        padding-top: 1rem;
    }
    .row-8 .lighterHeading{
        font-size: 19px;
    }


    .blogCard{
        width: 100%;
        height: 297px;
    }
    .blogContent{
        padding: 2rem !important
    }

    .nav-item a.active {
        /* margin-top: 5px; */
        text-decoration: underline; /* Add any other styles you want for the active page */
        
      }
      
  .first-child-wrapper {
    order: 2;
  }

  .col-md-1 {
    order: 1;
  }
  .marginLR{
    margin : 0px !important
  }
}