/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');


body{
    font-family: 'Montserrat';
}


.bannerHeading1{
text-align: right; 
color: #3564FB;
font-size: 36px;
line-height: 2.7rem;
font-weight: 700; 
word-wrap: break-word;
}
.resmenu{
    display: flex;
    justify-content: end;
}

.paddingTop7rem{
    padding-top: 7rem;
}

.padding7rem{
    padding: 7rem;
}


.padding8rem{
    padding: 8rem;
}

.padding4rem{
    padding: 4rem;
}

.padding5rem{
    padding: 5rem;
}

.padding10rem{
    padding: 10rem;
}

.banner2-card{

    border-radius: 9px;
background: #F8F7FE;
box-shadow: 2px 2px 6px 1px rgba(30, 30, 30, 0.20);
width :200px;
height: 220px;
padding: 1rem;
}
.cardCenter .card-heading2{
    color: white;
    padding-bottom: 20px;
    font-size: 20px !important;
}

.cardCenter{
    position : absolute;
    top : 20%;
    background: #3564FB;
}

.threeCards{
    display: flex;
    align-items: end;
    justify-content: end;

}
.card-heading{
    padding-top : 0.5rem;
    padding-right: 2rem;
}

.card-heading >span{
    color: #3367D6;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}

.card-icon{
    height: 50px;
    width: 50px;
    background: #3564FB;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}
.card-iconx{
    background: #FED942 !important;
}

.logo{
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.setImage{
    left: 50rem;
    bottom: 0rem;
}

.bannerHeading2 >span{
     text-align: right !important; 
     color: #3564FB; 
     font-size: 16px; 
 
     font-weight: 300;
      word-wrap: break-word;

}

.menu{
    display: flex;
    align-items: end;
}

.menuItems{
    color: #3564FB !important;
font-size: 14px !important;
font-style: normal;
font-weight: 300 !important;
line-height: normal;
letter-spacing: 0.9px;
}

.loginRegister{
    color: #3564FB !important;
    line-height: 1rem;
    font-weight: 600 !important;
}

.familyMont{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    font-family: montserrat;

}

.horizontalLine{
    width: 174px;
height: 1.5px;
background: #3564FB;
position: relative;
left: -8.5rem;

}

.paddingRight3rem{
    padding-right : 3rem  !important
}

.paddingLeft3rem{
    padding-left : 3rem  !important
}

.paddingLeft7rem{
    padding-left : 7rem  !important
}

.paddingBottom7rem{
    padding-Bottom : 7rem  !important
}


.paddingLeft6rem{
    padding-left : 6rem  !important
}

.paddingLeft5rem{
    padding-left : 5rem  !important
}

.paddingLeft4rem{
    padding-left : 4rem  !important
}

.marginBottom18rem{
    margin-bottom : 18rem  !important
}

.marginBottom5rem{
    margin-bottom : 5rem  !important
}


.marginLeft9rem{
    margin-left : 9rem!important
}

.paddingTop6rem{
    padding-top: 6rem !important;
}

.lineHeight25{
    line-height: 2.5rem !important;
}

.lineHeight2rem{
    line-height: 2rem !important;
}

.lineHeight1rem{
    line-height: 1rem !important;
}

.borderRadius4px{
    border-radius: 4px !important;
}

.buttonText{
    color: #FFF;
text-align: right;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.weight600{
    font-weight : 600 !important;
}

.weight300{
    font-weight : 200 !important;
}

.weight700{
    font-weight : 600 !important;
}


.right0rem{
    right : 0rem !important;
    position: relative;
}

.paddingRight{
    padding-right : 1.2rem !important;
}

.row-1{
    background-color: #F8F7FE;
}

.card1{
border-radius: 9px;
background: #F8F7FE;
box-shadow: 2px 2px 6px 1px rgba(30, 30, 30, 0.20);
}

.whyRegisterText{
    color: #3564FB;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 80% !important;
display: block;
}
.whyAnswer{
    width: 65%;
}



.whyAnswerText{
color: #3564FB;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.banner3Body{
    background: #E2EBFF;
}

.lighterText{
    color: #3564FB;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: 38px; /* 105.556% */
}

.bolderText{
    color: #3564FB;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 38px; /* 105.556% */
}


.description{
    color: #3564FB;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
/* width: 55%; */
font-family: montserrat !important;
}

.width90{
    width : 90% !important;
    display: block;
}

.width80{
    width : 80% !important;
    display: block;
}

.blogBackground{
    background: url(./images/blogBackground.png),  lightgray 50% / cover no-repeat;
    height: 15rem;
    /* background: url(<path-to-image>),; */
}

.height15rem{
    height: 15rem !important;
}

.leftBolderHeading{
    color: #3564FB;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 83%;
padding-left: 2rem;
}

.underline{
    width: 342px;
    height: 2px;
    background: #3564FB;
}

.stories {
    background: #FBCF32;
    padding: 58px;
    width: 409px;
    height: 307px;
    margin-left: 4.2rem;
}

.stories >span{
    color: #3564FB;;
text-align: center;
font-size: 20px;
font-style: italic;
font-weight: 500;
line-height: normal;
}

.heading{
    color: #3564FB;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 100% */
}

.yellowBackground{
    border-radius: 15px;
    background: #FBCF32;
    box-shadow: 3px -3px 4px 1px rgba(0, 0, 0, 0.10);
    height: 250px;
    padding-top: 3rem;
    padding-left: 4rem !important;
    margin: 8rem !important;

}

.paddingTop18rem{
    padding-top: 18rem;
}

.paddingTop9rem{
    padding-top: 9rem;
}

.blogContent{
    padding : 3rem 2rem !important
}

.blogCard{
    background: #FFF;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 387px;
height: 300px;
flex-shrink: 0;
}

.readMore{
    color: #3564FB;
    font-size: 16px;
    font-style: normal;
    /* font-weight: 550; */
    line-height: 16px; /* 100% */
    letter-spacing: 0.32px;
    
}

.sectionHeading{
    color: #444;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 13px; /* 100% */
letter-spacing: 0.65px;
}

.row-8 .heading{
    color: #3564FB;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 112.5% */
    letter-spacing: 2px;
    width: 75% !important;
}


.row-8 .lighterHeading{
    color: #3564FB;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.row-8 .aboutProcess{
    color: #3564FB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.8px;
width: 76%;
}


.row-9 .articleDate{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 14px; /* 100% */
letter-spacing: 0.28px;
}

.row-9 .articleHeading{
    color: #3564FB;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    letter-spacing: 0.48px;
} 
.row-9 .articleDescription{
    color: #3564FB;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24.5px; /* 153.125% */
letter-spacing: 0.32px;
}

.row-9 .readMore{
    color: #3564FB;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 16px; /* 100% */
letter-spacing: 0.32px;
}


.footer{
    background: #3564FB;
}

.social span{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
}

.locationHeading{
    color: #FFF;
font-size: 16px;
font-style: revert;
font-weight: 600;
line-height: 146.9%; /* 23.504px */
}

.address .contactNumber{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 146.9%; /* 23.504px */
}

.email> span{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.termsConditions{
    background: #000;
    height: 33px;
}

.processIcon{
    position: absolute;
}

.playImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.process{
    gap : 2rem !important
}

.row-8{
    padding-left: 5rem;;
}

.row-9{
    background:  #F8F7FE;
}

.row-9 .icon1{
    /* padding :  */
    position: relative;
    left: 2px;;
}

.footerContent{
    /* padding: 5rem 9rem; */
    padding: 5rem 4rem 5rem 8rem;
}

.footer .quickHeading{
    font-size : 20px;
    padding-top: 4rem;
}

.termsConditions .condition{
    color: #FFF;
font-family: revert;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 2rem;
letter-spacing: 0.24px;
display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;
}

.leftContent{
    display: flex;
    flex-direction: column;
    padding-right: 6rem !important;
}

.whyLine{
    position: relative;
    right: 10rem;
}

.yellowCircle{
    position: relative;
    top: -1rem;
    left: 1rem;
}

.carousel-control-prev{
    display: none !important;
}

.carousel-control-next{
    display: none !important;
}

.row-4 .heading{
    color: #3564FB;
font-family: revert;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 1rem !important;
}

.row-4 .description{
    width : 60%;
}

.blogPage{
    color: #FFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.verticalLine{
    width: 2px;
height: 43px;
background: #FBCF32;
}

 .firstPageBackground{
    background-color: #FED942;
    border-radius: 50%;
    width: 1.5rem;
    display: block;
    height: 1.5rem;

}

.pagination .firstPage{
    position: relative;
    left: -0.9rem;
    /* top: 1rem; */

}




.marginBottom7rem{
    margin-bottom : 7rem !important;
}
.marginTop7rem{
    margin-top : 7rem !important;
}

.marginTop12rem{
    margin-top :12rem !important;
}


.marginTop6rem{
    margin-top : 6rem !important;
}

.marginLeft7rem{
    margin-left : 7rem !important;
}


.pageHeading{
color: #3564FB;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.aspirantRow1 .aboutAspirants{
    color: #3564FB;
    text-align: justify;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.backgroundTheme{
    background: #3564FB;
}

.aspirantRow2 .firstLine{
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.6px;
}

.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 0px !important;
    border-radius: 50%;
}
.carousel-indicators{
    position: absolute !important;
    bottom: -3rem !important;
}
.carousel-indicators [data-bs-target] {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25) !important;
}


.nav-tabs button{
        width: 499px;
    height: 94px;
}


.active>.page-link, .page-link.active{
    background-color: #FED942 !important;
    border-radius: 50%;
    color: #3564FB !important;
    display: flex;
    align-items: cn;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: black;
    border-color:  #FED942 !important;

}

.page-link {
    color: #999494 !important;
    font-family: Montserrat;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400;
    /* line-height: 13px; */
    letter-spacing: 0.2px;
    border : none !important;
}

.colouredCircle{
    color : yellow;
    border: px solid blue;
    border-radius: 50%;
}

.logo img{
width: 112px !important;
height: 112px;
}


.slick-prev{
    display: none !important;
}

.slick-next{
    display: none !important;
}

.anilImage {
    /* position: absolute!important; */
    bottom: -1.1rem;
    right: 2rem;
}

.page-item:first-child .page-link{
    border-radius: 0px !important;
}